/* 

The one style sheet for Quotations 1

Authors: Rick Mercer and Sadiba Nusrat Nur

*/
.container {
	vertical-align: text-top;
	border: 2px black solid;
	box-shadow: 3px 3px #989898;
	border-radius: 7px;
	padding: 5px;
	margin: 5px;
	font-size: 12pt;

}

.heading {
	font-family: cursive;
	text-align: center;
}